@{
    ViewData["Title"] = "Admin Dashboard";
}

<div class="text-center mt-5">

    <h1 class="display-4">Welcome to the Academic Management System</h1>

    <p class="lead mt-3">You are admin, choose where you want to navigate.</p>

    <div class="mt-4 d-flex justify-content-center gap-3">

        <a class="btn btn-outline-primary btn-lg"
           asp-area="Admin" asp-controller="Courses" asp-action="Index">
            Courses
        </a>

        <a class="btn btn-outline-secondary btn-lg"
           asp-area="Admin" asp-controller="Students" asp-action="Index">
            Students
        </a>

        <a class="btn btn-outline-info btn-lg"
           asp-area="Admin" asp-controller="Teachers" asp-action="Index">
            Teachers
        </a>

    </div>

</div>
