@{
    ViewData["Title"] = "Admin Dashboard";
}

<h1>Admin Dashboard</h1>

<ul>
    <li><a asp-area="Admin" asp-controller="Courses" asp-action="Index">Courses</a></li>
    <li><a asp-area="Admin" asp-controller="Students" asp-action="Index">Students</a></li>
    <li><a asp-area="Admin" asp-controller="Teachers" asp-action="Index">Teachers</a></li>
</ul>
